<% layout('layout/page') -%>
<% block('title', "Энциклопедия") -%>
<% var months = ['января', 'февраля', 'марта', 'апреля', 'мая', 'июня', 'июля', 'августа', 'сентября', 'октября', 'ноября', 'декабря'];%>

<div class="float-right"><p>Добро пожаловать, <%=user.get('username')%></p></div>
<br><br>

<form style="float: right; width: 228px;" name="search-form">
    <div class="form-group">
        <input type="text" name="searchtext" class="form-control" id="usr" placeholder="Поиск"  style="float: left; width: 180px;">
        <button type="submit" class="btn" style="float: right;"><i class="fa fa-search"></i></button>
    </div>  
</form>

<div class="dropdown" style="float: right; width: 140px;">
    <button type="button" class="btn" data-toggle="dropdown">
      Сортировать
      <i class="fa fa-sort"></i>
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#" id="alpha-asc"><i class="fa fa-sort-alpha-asc"></i> Заголовок(по возрастанию)</a>
      <a class="dropdown-item" href="#" id="alpha-desc"><i class="fa fa-sort-alpha-desc"></i> Заголовок(по убыванию)</a>
      <a class="dropdown-item" href="#" id="date-asc"><i class="fa fa-sort-numeric-asc"></i> Дата создания(по возрастанию)</a>
      <a class="dropdown-item" href="#" id="date-desc"><i class="fa fa-sort-numeric-desc"></i> Дата создания(по убыванию)</a>
    </div>
  </div>

<h2>Каталог</h2>
<hr>
<% if (arr.length != 0) {%>
<ul class="list-group">
        <% for (var i = (page-1)*10; (i < page*10) && (i < arr.length); i++) {%>
            <li class="list-group-item" <% if(user.get('priviledge') == 'admin' || user.get('username') == arr[i].author ){ %> onmouseover="showCommands(<%=i%>)" onmouseout="hideCommands(<%=i%>)" <% } %>>               
                <div class="btn-group btn-group-sm" style="float: right; visibility: hidden;" id="command-panel<%=i%>">
                    <button type="button" class="btn" onclick="editArticle('<%=arr[i].path%>')"><i class="fa fa-pencil-square-o"></i></button>
                    <button type="button" class="btn btn-danger" onclick="removeArticle('<%=arr[i].name%>')"><i class="fa fa-times-circle"></i></button>
                </div>        
                <p>
                    <a href="<%=arr[i].path%>"</a> <%=arr[i].name%> </a>
                    by <%=arr[i].author%>  
                </p> 
                <% var dateString = "";
                dateString=arr[i].created.getDate()+" "+months[arr[i].created.getMonth()]+" "+arr[i].created.getFullYear()+" года в ";              
                if (arr[i].created.getHours() > 9) {
                    dateString+=arr[i].created.getHours()+":";
                } else {
                    dateString+='0'+arr[i].created.getHours()+":";
                }
                if (arr[i].created.getMinutes() > 9) {
                    dateString+=arr[i].created.getMinutes()+":";
                } else {
                    dateString+='0'+arr[i].created.getMinutes()+":";
                }
                if (arr[i].created.getSeconds() > 9) {
                    dateString+=arr[i].created.getSeconds();
                } else {
                    dateString+='0'+arr[i].created.getSeconds();
                }
                %>
                <small><%=dateString%></small>
            </li>
        <% } %>  
        <br> 
</ul>
<ul class="pagination pagination-sm">
            <li class="page-item <% if (page == 1) { %> disabled <% } %>"><a class="page-link" onclick="changePage(<%=page%>-1)">Previous</a></li>  
            <% for (var j = 0; j < pagecount; j++) { 
                if(pagecount > 6) {
                    if ((j < 4)&&(j>pagecount-3)) { %>
                        <li class="page-item <%if (j==page-1) {%> active <% } %>"><a class="page-link" <%if (j != page-1) {%> onclick="changePage(<%=j+1%>)" <% } %> ><%=j+1%></a></li>
                    <%} else { %>
                        <li class="page-item">...</li>
                    <%} 
                } else { %>
                <li class="page-item <%if (j==page-1) {%> active <% } %>"><a class="page-link" <%if (j != page-1) {%> onclick="changePage(<%=j+1%>)" <% } %> ><%=j+1%></a></li>
                <% } %>
            <% } %>
            <li class="page-item <% if (page == pagecount) { %> disabled <% } %>" ><a class="page-link" onclick="changePage(<%=page%>+1)">Next</a></li> 
</ul>
<%} else {%>
<p>Нет статей, удовлетворяющих запросу</p>
<%}%>

<script>
    function showCommands(n)
    {
        document.getElementById("command-panel"+n).style.visibility = 'visible';
    }

    function hideCommands(n)
    {
        document.getElementById("command-panel"+n).style.visibility = 'hidden';
    }

    function editArticle(element)
    {
            $.ajax({
                    url: "/edit",
                    method: "POST",
                    data: {path: element},
                    success: function (result) {
                        var html = $.parseHTML(result, true);
                        html.forEach(function(element){
                            if(element.nodeName == "SECTION")
                                $("section").html(element.innerHTML);
                        });
                    },
                    error: function(res){
                        alert('error');
                        alert(res);
                    }
            });  
    }
   
    function removeArticle(element)
    {
        if(confirm('Вы действительно хотите удалить статью?')) {        
            $.ajax({
                url: "/pedia",
                method: "POST",
                data: {name: element},
                success: function (result) {
                    location.reload();
                },
                error: function(res){
                    alert('error');
                    alert(res);
                }
            });
            return false;
        }
    }          

    $(document.forms['search-form']).on('submit', function() {        
        var form = $(this);
        var data = form.serialize();
        if ('<%=author%>'!='')
        {
            data.author = '<%=author%>';
        }
        window.location.href='/pedia?'+$.param(data);
    });

    $(document.getElementById("alpha-asc")).on('click', function() {
        var data = {};
        if ('<%=search%>'!='')
        {
            data.searchtext='<%=search%>';
        }
        if ('<%=author%>'!='')
        {
            data.author = '<%=author%>';
        }
        data.sortby = "name";
        window.location.href='/pedia?'+$.param(data);
    });

    $(document.getElementById("alpha-desc")).on('click', function() {
        var data = {};
        if ('<%=search%>'!='')
        {
            data.searchtext='<%=search%>';
        }
        if ('<%=author%>'!='')
        {
            data.author = '<%=author%>';
        }
        data.sortby = "name";
        data.order = "-";
        window.location.href='/pedia?'+$.param(data);
    });

    $(document.getElementById("date-asc")).on('click', function() {
        var data = {};
        if ('<%=search%>'!='')
        {
            data.searchtext='<%=search%>';
        }
        if ('<%=author%>'!='')
        {
            data.author = '<%=author%>';
        }
        if (JSON.stringify(data) == '{}'){
            window.location.href='/pedia';
        } else {
            window.location.href='/pedia?'+$.param(data);
        }     
    });

    $(document.getElementById("date-desc")).on('click', function() {
        var data = {};
        if ('<%=search%>'!='')
        {
            data.searchtext='<%=search%>';
        }
        if ('<%=author%>'!='')
        {
            data.author = '<%=author%>';
        }
        data.order = "-";
        window.location.href='/pedia?'+$.param( {order: "-"});
        window.location.href='/pedia?'+$.param(data);
    });

    function changePage(page){
        var data = {};
        if ('<%=search%>'!='')
        {
            data.searchtext='<%=search%>';
        }
        if ('<%=order%>'!='')
        {
            data.order='<%=order%>';
        }
        if ('<%=sortby%>'!='created')
        {
            data.sortby = '<%=sortby%>';
        }
        if ('<%=author%>'!='')
        {
            data.author = '<%=author%>';
        }
        data.page = page;
        window.location.href='/pedia?'+$.param(data);
    }
</script>



    