<% layout('layout/page') -%>
<% block('title', "Энциклопедия") -%>

<br>
<form style="float: right; width: 232px;" name="search-form">
    <div class="form-group">
        <input type="text" name="searchtext" class="form-control" id="usr" placeholder="Поиск"  style="float: left; width: 180px;">
        <button type="submit" class="btn" style="float: right;"><i class="fa fa-search"></i></button>
    </div>  
</form>
<h2>Список пользователей</h2>
<hr>
<ul class="list-group">
        <% var i = 0; %>
        <% arr.forEach(element => {%>
            <li class="list-group-item" <% if ((user.get('priviledge') == 'admin') && (user.get('username') != element.username)) {%> onmouseover="showCommands(<%=i%>)" onmouseout="hideCommands(<%=i%>)" <%}%>>
                <p  style="float: left;">
                     <a href="/user/<%=element.username%>"><%=element.username%></a> 
                </p>        
                    <div class="btn-group btn-group-sm" style="float: right; visibility: hidden;" id="command-panel<%=i%>">
                    <% if (element.priviledge == "user") { %>
                    <button type="button" class="btn" onclick="upgradeUser('<%=element.username%>')"><i class="fa fa-arrow-up"></i></button>
                    <%} else { %>
                    <button type="button" class="btn" onclick="downgradeUser('<%=element.username%>')"><i class="fa fa-arrow-down"></i></button>
                    <%}%>
                </div>                      
            </li>
            <%i++;%>
        <% }) %>   
</ul>

<script>
    function showCommands(n)
    {
        document.getElementById("command-panel"+n).style.visibility = 'visible';
    }

    function hideCommands(n)
    {
        document.getElementById("command-panel"+n).style.visibility = 'hidden';
    }   

    function upgradeUser(name) {
        $.ajax({
            url: "/users",
            method: "POST",
            data: {name: name, priviledge: 'admin'},
            success: function (result) {
                window.location.href="/users";
            },
            error: function(res){
                alert('error');
                alert(res);
            }
          });
    }

    function downgradeUser(name) {
        $.ajax({
            url: "/users",
            method: "POST",
            data: {name: name, priviledge: 'user'},
            success: function (result) {
                window.location.href="/users";
            },
            error: function(res){
                alert('error');
                alert(res);
            }
          });
    }

    $(document.forms['search-form']).on('submit', function() {        
        var form = $(this);
        var data = form.serialize();
        window.location.href='/users?'+$.param(data);
    });
</script>